<div id="results-container">

  <% if @cocktails.length != 0 %>
    <h1>Results:</h1>
      <ul>
      <% @cocktails.each do |cocktail| %>
        <li><a href="/cocktails/<%=cocktail.id%>"><%=cocktail.name%></a></li>
      <br><br>
      <% end %>
      </ul>
  <% else %>
    <h1>Sorry, no results for: '<%=@search_query.gsub('%20', ' ')%>.'</h1>
  <% end %>

</div>
