
<div id="search-form-container">
<h1>What Can I Get Ya?</h1>
<section class="webdesigntuts-workshop">
<form action="/search" method="post">
  <input type="search" name="search_query">
  <input type="submit" value="Search">
</form>
</div>
